.container-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h4 {
    font-size: 20px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #84ccea;
    color: white;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
select::placeholder {
    color: white;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    background-color: #4A90E2;
    transition: background-color 0.5s ease;
}

select {
    width: 107%;
}

select option {
    padding: 10px 20px;
}

hr {
    border: none;
    border-top: 1px solid #84ccea;
    margin: 10px 0;
}

input[type="submit"],
.dialog-button {
    background-color: #84ccea;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
.dialog-button:hover {
    background-color: #4A90E2;
    color: white;
}

.checkbox-group {
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

.checkbox-group input[type="checkbox"] {
    padding-top: 10px;
    display: none;
}

.checkbox-group label {
    text-align: left;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: block;
    line-height: 1.8;
    color: #333;
    vertical-align: middle;
    margin-bottom: 5px;
}

.checkbox-group label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #4b90e1;
    background-color: white;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
    box-sizing: border-box;
}

.checkbox-group input[type="checkbox"]:checked + label:before {
    background-color: #3498db;
    border: 2px solid #3498db;
}

.checkbox-group input[type="checkbox"]:checked + label {
    color: #3498db;
}

.checkbox-group label:hover:before {
    border: 2px solid #2980b9;
}

.checkbox-group label:hover {
    color: #2980b9;
}

fieldset {
    border: 2px solid #3498db;
    border-radius: 5px;
    padding: 10px;
}

legend {
    text-align: right;
    color: #3498db;
    padding: 5px;
    background-color: inherit;
}

.highlight {
    background-color: lightblue;
}

.dark-theme input[type="text"],
.dark-theme input[type="number"],
.dark-theme select {
    background-color: #a8a8a8;
    color: white;
}

.dark-theme hr {
    border-top: 1px solid #a8a8a8;
}

.dark-theme input[type="submit"],
.dark-theme .dialog-button {
    background-color: #a8a8a8;
}

.dark-theme input[type="submit"]:hover,
.dark-theme .dialog-button:hover {
    background-color: goldenrod;
}

.dark-theme label {
    color: #a7a7a7;
}

.dark-theme .checkbox-group label:before {
    border: 2px solid #a7a7a7;
    background-color: black;
}

.dark-theme input[type="text"]:focus,
.dark-theme input[type="number"]:focus,
.dark-theme select:focus-visible {
    background-color: goldenrod;
}

.dark-theme .checkbox-group input[type="checkbox"]:checked + label:before {
    background-color: goldenrod;
    border: 2px solid goldenrod;
}

.dark-theme .checkbox-group input[type="checkbox"]:checked + label {
    color: goldenrod;
}

.dark-theme .checkbox-group label:hover:before {
    border: 2px solid goldenrod;
}

.dark-theme .checkbox-group label:hover {
    color: goldenrod;
}

.dark-theme fieldset {
    border: 2px solid #a7a7a7;
    border-radius: 5px;
    padding: 10px;
}

.dark-theme legend {
    color: #a7a7a7;
}