.container-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h4 {
    font-size: 20px;
}

input[type="text"],
input[type="number"],
select,
.dialog-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #84ccea;
    color: white;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
select::placeholder {
    color: white;
}

select {
    width: 107%;
}

select option {
    padding: 10px 20px;
}

hr {
    border: none;
    border-top: 1px solid #84ccea;
    margin: 10px 0;
}

input[type="submit"] {
    background-color: #84ccea;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #4A90E2;
    color: white;
}


.dark-theme input[type="text"],
.dark-theme input[type="number"],
.dark-theme select,
.dark-theme .dialog-button {
    background-color: #a8a8a8;
    color: white;
}


.dark-theme hr {
    border-top: 1px solid #a8a8a8;
}

.dark-theme input[type="submit"] {
    background-color: #a8a8a8;

}

.dark-theme input[type="submit"]:hover {
    background-color: #6a6a6a;
}