.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    background-color: #6e6c78;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #3b3a3d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #dadada;
}

:root {
    font-size: 16px;
}

h4 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.34);
    color: black;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 600px) {
    table {
        font-size: 12px;
    }
}

.error-message {
    color: red;
    text-align: center;
}

.ok-message {
    color: black;
    text-align: center;
}