.navbar {
    overflow: hidden;
    background: linear-gradient(90deg, #87CEEB, #6BB7E6, #4A90E2);
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 15px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    background-color: lightblue;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightblue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: lightblue;
    transition: background-color 0.5s ease;
}

th:hover {
    background-color: #4A90E2;
}

.th-main {
    cursor: pointer;
}

:root {
    font-size: 16px;
}

h4 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.34);
    color: black;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 600px) {
    table {
        font-size: 12px;
    }
}

.error-message {
    color: red;
    text-align: center;
}

.ok-message {
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    padding: 10px;
    background-color: #84ccea;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #4A90E2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.overlay.show {
    display: block;
}

.custom-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.custom-dialog.show {
    opacity: 1;
}

.custom-dialog p {
    margin-bottom: 15px;
}

.custom-dialog button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.dialog-button {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.theme-toggle {
    float: left;
    padding: 14px 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.delete-icon {
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

.delete-icon:hover {
    color: #4A90E2;
    transform: scale(1.1);
}

select::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 9px;
}

select::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background-color: inherit;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

select::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: #cbcbcb;
    border-radius: 6px;
    width: 2px;
}

.dark-theme {
    background-color: black;
}

.light-theme {
    background-color: white;
}

.dark-theme .navbar {
    background: linear-gradient(90deg, #A9A9A9, #808080, #696969);
    color: white;
}
.dark-theme .body-cl {
    background-color: black;
}

.dark-theme h4 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.34);
    color: white;
}

.dark-theme .dropdown-content a:hover {
    background-color: lightblue;
}

.dark-theme .navbar a:hover, .dark-theme .dropdown:hover .dropbtn {
    background-color: lightblue;
}

.dark-theme .dropdown-content a {
    color: black;
}

.dark-theme th, .dark-theme td {
    color: white;
    border: 2px solid white;
    padding: 8px;
    text-align: left;
}

.dark-theme .ok-message {
    background-color: goldenrod;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #6a6a6a;
}

.dark-theme th {
    font-weight: bold;
    background-color: #A9A9A9;
}

.dark-theme th:hover {
    background-color: goldenrod;
}

.dark-theme .delete-icon {
    color: white;
}

.dark-theme .delete-icon:hover {
    color: goldenrod;
}

.dark-theme .ok-message {
    color: white;
}

.dark-theme input:checked + .slider {
    background-color: goldenrod;
}

.dark-theme input:focus + .slider {
    box-shadow: 0 0 1px goldenrod;
}

.dark-theme .navbar a:hover, .dark-theme .dropdown:hover .dropbtn {
    background-color: goldenrod;
}

