/* Контейнер навигации */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

/* Ссылки в панели навигации */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Выпадающий контейнер */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Кнопка выпадающего списка */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Важно для вертикального выравнивания на мобильных телефонах */
    margin: 0; /* Важно для вертикального выравнивания на мобильных телефонах */
}

/* Добавить красный цвет фона для ссылок на навигационную панель при наведении курсора */
.navbar a:hover, .dropdown:hover .dropbtn {
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    background-color: #6e6c78;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    float: none;
    color: #3b3a3d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Добавить серый цвет фона для выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
    display: block;
}